html {
  letter-spacing: 1px;
  line-height: 1.5em !important;
}

body {
  background-color: ghostwhite;
}

.hero {
  background-image: url("img/hero-img.jpg");
  height: 500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  padding: 2vw;
}

.heading {
  padding: 1vw 0vw 1vw 0vw;
  color: #0e8888;
  text-shadow: 1px 1px 2px #fbebed;
}

.font {
  color: #083526;
  text-shadow: 1px 1px 2px #fbebed;
  text-emphasis-color: red;
  padding: 1vw 1vw 1vw 2vw;
}

.center {
  text-align: center;
}

.footer {
  padding: 3vw 0vw 3vw 0vw;
  background-color: #083526;
  text-emphasis-color: #0e8888;
}
